[Desktop Entry]
Version=1.0
Type=Application
Name=Close Window
Comment=
Exec=herbstclient close
Icon=window-close
Path=
Terminal=false
StartupNotify=false
