[Desktop Entry]
Version=1.0
Type=Application
Name=Applications
Comment=
Exec=rofi -show drun
Icon=window-new
Path=
Terminal=false
StartupNotify=false
